* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.computador {
    width: 80%;
	height: 90vh;
    background-color: #1E1E1E;
    border-radius: 30px;
    box-shadow: inset 0 0 0 40px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
	position: absolute;
	left: 50%;
	top: -50%;
	z-index: 99;
	transform: translate(-50%, -50%);
    transition: 0.5s;

}

.computador h1 {
    font-size: 44px ;
    display: block;
    background-color:#FFB246;
    width: 70%;
    margin-top: 15px;
    border-radius: 40px;
    font-weight: 500;
}


.divPastas {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 4% 8%;
    position: relative;
    
}

.pasta {
    margin-bottom: 60px;
    transition: 0.5s;
    position: relative;
    z-index: 1;

}

.pasta .informacoesConhecimento {
    display: none;

}

.pasta button {
    background-color: #00000000;
    border: none;
}

.pasta > .parteDeCima {
    width: 45%;
    height: 30px;
    border-radius: 20px 20px 0px 0px;
    background-color: #ffb24660;
}

.pasta > .parteDeBaixo {
    width: 270px;
    height: 240px;
    border-radius: 0px 40px 40px 40px; 
    background-color: #222B31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parteDeBaixo dialog {
    width: 50%;
    height: 50vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}


.botaoFecharConhecimentos {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #ff4646;
    position: absolute;
    right: -2%;
    top: -14%;
    border: none;
}



.pastaClicada {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    z-index: 99;
}

.pastaClicada > .informacoesConhecimento {
    background-color: #222B31;
    height: 100%;
    width: 80%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding: 0 5%;
    align-items: center;
    z-index: 99;
}

.informacoesLogo h1{
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.informacoesLogo {
    margin-right: 150px;
    text-align: center;
}

.divConhecimento {
    width: 66%;
    text-align: left;
}

.divConhecimento h3 {
    font-size: 26px;
    color: white;
    font-weight: 400;
}

.divConhecimento h5 {
    margin-top: 5%;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.divConhecimento button {
    background-color: #FFB246;
    width: 45%;
    border-radius: 15px;
    height: 5vh;
}

.pastaClicada > .parteDeCima {
    display: none;
}

.pastaClicada > .parteDeBaixo {
    width: 100%;
    height: 100%;
}

.pastaClicada > .parteDeBaixo {
    display: none;
}